<!--Start Navbar-->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
  <nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
    <div class="container-fluid px-0">
        <a class="navbar-brand font-weight-bolder ms-sm-3" href="#" rel="tooltip" title="Meldoo Dating App" data-placement="bottom" target="_blank">
          {{title}}
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
        </button>
    </div>
    <div class="pt-3 pb-2 py-lg-0 w-100" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <li>
          <a href="#" class="nav-link ps-2 d-flex cursor-pointer align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link ps-2 d-flex cursor-pointer align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
        </li>
        <li>
          <a href="#" class="nav-link ps-2 d-flex cursor-pointer align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            Our Mission
          </a>
        </li>
        <li>
          <a href="#" class="nav-link ps-2 d-flex cursor-pointer align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            How It Works
          </a>
        </li>
        <li class="nav-item my-auto ms-3 ms-lg-0">
          <a href="#" class="btn btn-sm bg-gradient-success  mb-0 me-1 mt-2 mt-md-0">Sign Up / Log In</a> 
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- End Navbar -->


<!--Start of header-->
<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('/img/bg2.jpg')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">The dating site everybody has been telling you about.</h1>
          <p class="lead text-white mt-3">The perfect site for today's lovebirds.</p>
        </div>
      </div>
    </div>
  </div>
</header>
<!--End of header-->
 