{{> mainh}}
{{> mainnav}}
<!--Section begin-->
<div class="section">
<div class="container">
  <div class="row">
  	<h2 id="about" class="pt-6 text black">About Us</h2>
  	<h4 class="font-weight-light">Everybody agrees that dating should be swift and straight to the point. Meldoo is a dating platforms that takes speed into consideration. Speed dating has worked offline for customers for a long time, we've decided that everyone looking for love in the digital space needs this too. Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</h4>
  </div>
  <div class="row pt-5">
    <div class="col-lg-4">
      <div class="info-horizontal bg-gradient-primary border-radius-xl d-block d-md-flex p-4">
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5 class="text-white">3000+</h5>
          <p class="text-white">Members</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
      <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4 h-100">
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5>500+</h5>
          <p>Love Stories</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-lg-0 mt-4">
      <div class="info-horizontal bg-gradient-primary border-radius-xl d-block d-md-flex p-4">
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5 class="text-white">1500+</h5>
          <p class="text-white">Available Individuals</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  	<h2 id="mission" class="pt-7 text black">Our Mission</h2>
  	<h4 class="font-weight-light">Everybody agrees that dating should be swift and straight to the point. Meldoo is a dating platforms that takes speed into consideration. Speed dating has worked offline for customers for a long time, we've decided that everyone looking for love in the digital space needs this too. lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsum lorem ipsum Everybody agrees that dating should be swift and straight to the point. Meldoo is a dating platforms that takes speed into consideration. Speed dating has worked offline for customers for a long time, we've decided that everyone looking for love in the digital space needs this too. lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsum lorem ipsum</h4>
  </div>

  <div class="row">
    <h2 id="howitworks" class="pt-7 text black">How It Works</h2>
    <h4 class="font-weight-light">Everybody agrees that dating should be swift and straight to the point. Meldoo is a dating platforms that takes speed into consideration. Speed dating has worked offline for customers for a long time, we've decided that everyone looking for love in the digital space needs this too. lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsum lorem ipsum Everybody agrees that dating should be swift and straight to the point. Meldoo is a dating platforms that takes speed into consideration. Speed dating has worked offline for customers for a long time, we've decided that everyone looking for love in the digital space needs this too. lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsum lorem ipsum</h4>
  </div>


  <div class="row pt-5">
      <div class="col-lg-6 mx-auto text-center">
        <h2 class="mb-0">Operating in over</h2>
        <h2 class="text-gradient text-primary mb-3">30 countries in 3 continents</h2>
        <p class="lead">Many available singles looking for interracial dating partners love how meldoo helps their search.</p>
        <button class="btn btn-success">Get Started</button>
      </div>
    </div>
</div>
</div>

{{> mainh}}
